* {
    background-color: #696D7D;
    color: #FAF3DD;
}
p {
    padding-left: 75px;
    padding-right: 75px;
    color: #FAF3DD;
    text-align: center;
    font-size: 25px;
}

h1 {
    color: #FAF3DD; 
}

